RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} !^www.julieprune.com$ [NC]
RewriteRule ^ http://www.julieprune.com? [R=301] 